---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectsOverview from "../components/ProjectsOverview.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>jasont.dev</title>
  </head>
  <body>
  <MainLayout>
    <ProjectsOverview />
  </MainLayout>
  </body>
</html>