---
import { Github } from "simple-icons-astro";
---
<div class="contact">
  <a href="https://github.com/jasontdev" class="contact-link"><Github /> <span>Github</span></a>
</div>

<style>
  .contact {
      display: flex;
      gap: 1rem;
  }

  .contact-link {
      color: black;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.25rem;
  }

  .contact-link:visited {
      color: black;
  }
</style>