---
import ProjectTechnologies from "./ProjectTechnologies.astro";
interface Props {
  title: string;
  technologies: string[];
  url: string;
}
const {title, technologies, url} = Astro.props;
---

<a class="projectCard" href={url}>
  <ProjectTechnologies technologies={technologies} />
  <h2>{title}</h2>
</a>

<style>
  .projectCard {
      color: white;
      padding: 2rem 4rem 2rem 4rem;
      background-color: #663dff;
      background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
      text-decoration: none;
      transition: scale 150ms;
  }

  .projectCard:hover {
      scale: 106%;
  }

  .technologies {
      display: flex;
      gap: 0.5rem;
  }
</style>
