---
import { getCollection } from 'astro:content';
import ProjectCard from "./ProjectCard.astro";
const allProjectsList = await getCollection('projects');

const sortedProjectsList = allProjectsList.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date))
---

<div class="projectsOverview">
  {allProjectsList.map((project) => <ProjectCard title={project.data.title} technologies={project.data.technologies} url={project.data.github} />)}
</div>

<style>
  .projectsOverview {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
</style>