---
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content="{Astro.generator}" />
  <title>jasont.dev</title>
</head>
<body>
<div class="mainContainer">
  <slot />
</div>
</body>
</html>

<style>
    .mainContainer {
        margin: auto;
        padding: 1rem 2rem 0 2rem;
        max-width: 64rem;
    }

    html {
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
</style>
